/* Fonts */
$font_main: 'Roboto', Arial, sans-serif;

/* Media Queries Sizes */
$tablet: "(min-width: 768px) and (max-width: 1169px)";
$mobile: "(min-width: 320px) and (max-width: 767px)";

/* Colors */
$body_background: #fff;
$main_text_color: #000;
$main_blue_color: #58b3eb;
$section_title_main_color: #091138;

/* Sizes */
$wrapper_desktop_width: 1170px;
$wrapper_tablet_width: 768px;
$wrapper_mobile_width: 320px;